    <div style="width:500px">
        <div style="width:100%">
      <table id='contactsTable'>
        <thead>
        <tr>
          <th>Last Name</th>
          <th>First Name</th>
          <th>Email</th>
          <th>Home</th>
          <th>Work</th>
          <th>Cell</th>
        </tr>
        </thead>
        <% @contacts.each do |contact|%>
            <tr>
              <td><%= contact.last_name%></td>
              <td><%= contact.first_name%></td>
              <td><%= contact.email%></td>
              <td><%= contact.home_phone%></td>
              <td><%= contact.work_phone%></td>
              <td><%= contact.cell_phone%></td>
            </tr>
        <% end %>
      </table>
    </div>
  </div>
<!-- http://jsfiddle.net/BKgue/2/ -->

<script type="text/javascript">
    $(document).ready(function()
    {
        $('#MyButtonList').buttonset();
        $("#contactsTable").tablesorter({
            widgets    : [ 'zebra' ],
            headers : {
                0: { sorter: "text" },
                1: { sorter: "text" },
                2: { sorter: false },
                3: { sorter: false },
                4: { sorter: false },
                5: { sorter: false },
                6: { sorter: false }
    }})});
</script>

